<div class="container">
  <div class="card" style="border-color: #f76902;">
      <div class="card-header" style="border-color: #000000;">
          <div class="row align-items-center">
              <h1>Initialization Simulation</h1>
          </div>
      </div>
      <div class="card-body">
          <p>Dominick Banasik</p>
      </div>
  </div>
</div>

<div class="container">
  <div class="card">
      <div class="card-body">
          <div class="row">
                  <app-graph></app-graph>
          </div>
      </div>
  </div>
</div>